button {
    margin: 16px 8px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  .poster{
    height: 50px;
  }