<h2 mat-dialog-title>Film Detail:</h2>
<mat-dialog-content class="mat-typography">

    <div *ngIf="film">
        <p>
            <label>The Movie Title: </label>
            <span>{{film.title}}</span>
        </p>
        <p>
            <label>The Director’s Name: </label>
            <span>{{film.director}}</span>
        </p>
        <p>
            <label>Movie Description/Summary: </label>
            <span>{{film.description}}</span>
        </p>
        <p>
            <label>Producer’s Name: </label>
            <span>{{film.producer}}</span>
        </p>
        <p>
            <label>Year of Release: </label>
            <span>{{film.release_date}}</span>
        </p>
        <p>
            <label>Movie’s Rating(IMDB): </label>
            <span>{{film.rt_score}}</span>
        </p>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>